body > table {
    width: 100%;
    background-color: rgb(193, 175, 88);
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
}

td, th {
    border: 1px solid #4fab9b;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even), table.list thead > tr {
    background-color: #56b445;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #7e27a0;
    border-radius: 4px;
    box-sizing: border-box;
}

.dob {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="submit"] {
    width: 30%;
    background-color: #e69ae6;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0055cc;
    margin-right: 4px;
}

label.validation-error {
    color: #e60000;
    margin-left: 5px;
}

.hide {
    display: none;
}
